
.dancing-script-title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;   /* choose between 400–700 */
  font-style: normal;
}


.dancing-script-uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}